src/main/mule/Implementation/GetSchedules-Implementation-BAPI.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sub-flow name="GetSchedules-TravelOnTip" doc:id="43345bc8-3a05-4bdc-8c24-f65fdf67a0d9" >
		<ee:cache doc:name="Cache" doc:id="9d134ddd-46ef-40ca-8ca8-aaa2d073a1cc" cachingStrategy-ref="Caching_Strategy_Schedules">
			<set-variable value="#[&quot;/api/&quot; ++ (vars.transportType default &quot;&quot;) ++ p('http.requester.TravelOnTip.schedulesPath')]" doc:name="Set Variable" doc:id="87ffcc1a-20cd-4aa2-be69-e7039ba0dfa2" variableName="Schedules"/>
			<http:request method="GET" doc:name="Request" doc:id="fa3e7e54-6092-429e-8a0d-4f0c26405974" config-ref="HTTP_Request_FastGo-config" path="#[vars.Schedules]" responseTimeout="50000">
					<http:headers><![CDATA[#[output application/java
---
{
	transactionId : vars.transactionId
}]]]></http:headers>
				</http:request>
			<ee:transform doc:name="Transform Message" doc:id="21adc3fc-860e-4dca-8a4d-be7d357174bd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map {
    companyCode: vars.companyName,
    availableSeats: $.availableSeats,
    departureDateTime: $.departureDateTime,
    travelRoute: {
      destinationLocation: {
        LocationCode: $.toLocation,
        LocationDesc: "Klong Malaysia"
      },
      OriginLocation: {
        LocationCode: $.fromlocation,
        LocationDesc: "Beauna Vista Singapore"
      }
    }
  }]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="7f28be33-3bb5-4a38-be18-9a8a291b1778" message="transformed result after the sucessful response" />
				</ee:cache>
	</sub-flow>
	<sub-flow name="GetSchedules-FastGo" doc:id="491a93a2-54d9-4b82-a2c1-c537b5a02f56">
		<ee:cache doc:name="Cache" doc:id="8546a068-86de-4607-ad11-d9321aefda33" cachingStrategy-ref="Caching_Strategy_Schedules">
			<set-variable value="#[&quot;/api/&quot; ++ (vars.transportType default &quot;&quot;) ++ p('http.requester.FastGo.schedulesPath')]" doc:name="Set Variable" doc:id="0829305b-df2d-4d50-aa85-06e8c14addd4" variableName="Schedules"/>
			<http:request method="GET" doc:name="Request" doc:id="2bf5f85f-e7d1-4b56-a59c-82d6b26020a1" config-ref="HTTP_Request_FastGo-config" path="#[vars.Schedules]" responseTimeout="50000">
					<http:headers><![CDATA[#[output application/java
---
{
	transactionId : vars.transactionId
}]]]></http:headers>
				</http:request>
			<ee:transform doc:name="Transform Message" doc:id="27eeb05c-722a-4d1f-a6b5-592e9bd06023">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map {
    companyCode: vars.companyName,
    availableSeats: $.availableSeats,
    departureDateTime: $.departureDateTime,
    travelRoute: {
      destinationLocation: {
        LocationCode: $.toLocation,
        LocationDesc: "Klong Malaysia"
      },
      OriginLocation: {
        LocationCode: $.fromlocation,
        LocationDesc: "Beauna Vista Singapore"
      }
    }
  }]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="d302d6c1-750a-474a-adb1-585330f5058e" message="transformed result after the sucessful response" />
		</ee:cache>
	</sub-flow>
	<flow name="GetSchedules-Implementation-BAPIFlow" doc:id="020bffd0-4967-480a-af90-d97cf9e944fb" >
		<choice doc:name="Choice" doc:id="6f3dab24-1715-42f1-a9e6-0e520d26e1c1" >
			<when expression='#[vars.companyName == "TravelOnTip"]'>
				<flow-ref doc:name="Flow Reference" doc:id="5e73d7e8-de26-41cb-b34c-78196c9023bc" name="GetSchedules-TravelOnTip" />
			</when>
			<when expression='#[vars.companyName == "FastGo"]'>
				<flow-ref doc:name="Flow Reference" doc:id="0febd410-30ce-44a8-bfe9-e15dab2a12f7" name="GetSchedules-FastGo" />
			</when>
			<otherwise >
				<scatter-gather doc:name="Scatter-Gather" doc:id="37b243f1-c0da-4ad9-859a-b32cf7b6a788" >
					<route >
						<set-variable value="TravelOnTip" doc:name="Set Variable" doc:id="123b1c0c-d61b-4544-a1eb-54f391bbf25b" variableName="companyName"/>
						<flow-ref doc:name="Flow Reference" doc:id="25972581-3070-4b00-81ce-8d471c0d51af" name="GetSchedules-TravelOnTip"/>
					</route>
					<route >
						<set-variable value="FastGo" doc:name="Set Variable" doc:id="aa70db93-7a2a-4987-81e0-68862e24bdc3" variableName="companyName"/>
						<flow-ref doc:name="Flow Reference" doc:id="04f5b1fc-831c-4e15-a5d0-1d2bb2668b35" name="GetSchedules-FastGo"/>
					</route>
				</scatter-gather>
				<ee:transform doc:name="Transform Message" doc:id="a48c9f84-8b11-4c8f-ba98-893558564000">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload[0].payload ++ payload[1].payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="b5a8af35-0f7b-415d-8d42-4f0374962f5e" message="Sucess after scatterGather"/>
			</otherwise>
		</choice>
	</flow>
</mule>
